<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jiyun.com.ipandatv">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.SplashAActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.YindaoActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.WebActivity"></activity>
        <activity android:name=".activity.VideoActivity"></activity>
        <activity android:name=".fragment.Home.tile_right.Title_Right"/>
        <activity android:name=".activity.LiveChinaAdd"></activity>
        <activity android:name=".fragment.Home.tile_right.Title_Login"/>
    </application>

</manifest>